:root {
    --grid-cols: 1;
}

* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

section {
    margin: auto;
    background-color: rgba(38, 125, 165, 0.459);
    /* background-color: turquoise; */
    width: 960px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 2fr);
}

header {
    text-align: center;
    margin: 24px;
}

#pixel {
    border: 1px solid black;
    text-align: center;
    padding-bottom: calc(1/1 * 100%);
}

#pixel:hover {
    background-color: aqua;
}