* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

section {
    margin: auto;
    height: auto;
    width: 840px;
    background-color: turquoise;
    display: flex;
    flex-wrap: wrap;
}

header {
    text-align: center;
    margin: 24px;
}

#pixel {
    background-color: wheat;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: 5px;
}

#pixel:hover {
    background-color: aqua;
}